<div class='particle-orb'>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
    <div class='particle'></div>
</div>